<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="formatterFactory"
          class="com.codecool.converter.formatter.OutputFormatterFactory">
    </bean>

    <bean id="formatter"
          class="com.codecool.converter.formatter.OutputFormatter"
          scope="prototype"
          factory-bean="formatterFactory"
          factory-method="createByFormat"
    >
        <constructor-arg value="fileType"/>
    </bean>

    <bean id="fileReader"
          class="com.codecool.converter.FileReader">
    </bean>

</beans>